body {
    background: #2980b9;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    

}

.header {
    width: 90%;
    height: 10%;
    border: #c0392b 8px double;
    border-radius: 15px;
    background: #f1c40f;
    color: #c0392b;
    padding: 10px;
    margin: 3% auto;
    text-align: center;
    font-family: 'Fascinate Inline', cursive;
}

button {
    height: 90px;
    width: 150px;
    font-family: 'Fascinate Inline', cursive;
    font-size: 30px;
    color: #2c3e50;
    border: #2c3e50 4px double;
    background-color: #d35400;
    margin-left: 5%;
    border-radius: 15px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



#triviaQuestions, #gameOver {
    width: 80%;
    height: 60%;
    border-radius: 15px;
    background: #16a085;
    font-family: 'Shrikhand', cursive;
    padding: 20px;
    margin: 6% auto;
    border: #c0392b 8px groove;
    
}